[*.cs]

## StyleCop

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

## IDE
# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none